*{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(25, 30, 59);
}
.header-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header button{
    display: block;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: rgb(25, 30, 59);
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #DFE0E4;
    padding: 5px 10px;
    text-align: center;

}
.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
   
}
li a{
    text-decoration: none;
}
li a:hover{
    color: rgb(127, 125, 227);
}
main{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-section{
    background-image:radial-gradient(
        rgba(0, 0, 0, 0.256), 
        rgba(0, 0, 0, 0.258)
    ),  url('./images/background_image.avif');
    min-height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
}
.hero-info-div{
     display: flex;
    flex-direction: column;
    align-items: baseline;
     width: 57%;
}
h1{
    font-family: "Lardent Pro Slab", Georgia, Times, "Times New Roman", serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    color: rgb(255, 255, 255);
}
.hero-info{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    width: 100%;
    border-radius: 15px;
}
.hero-info > div{
    display: flex;
    color: #3E2C54;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    gap: 10px;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(25, 30, 59);
    border: 1px solid rgb(25, 30, 59, 0.5);
    border-radius: 10px;
    width: 290px;
}
.hero-info > div:focus{
    border: 1px solid rgb(127, 125, 227);
}
.hero-data{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}
.hero-data span{
    display: inline-block;
    font-size: 12px;
    padding: 0%;
}
.hero-data p{
    padding: 0px;
    margin: 0px;
}
.seek-button{
    background-color: #2062c5;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 10px;
}
.seek-button:hover{
    background-color: #124FAA;
}
.about{
    width: 62%;
    margin-top: 20px;
}
.register-info{
    background-color: #191E3B;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.register-info div{
    display: flex;
    gap: 20px;
}
.register-info div div{
    padding: 10px;
    background-color: #AED1F3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.register-info p{
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(255, 255, 255);
}
.register-info button{
    background-color: #2062c5;
    border: none;
    font-size: 16px;
    font-weight: 550;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 0 10px;
}
